---
title: My Profile
---
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img src="https://secure.gravatar.com/avatar/765a01bc7039f72d5cc93fb0e1a8ae58?s=350" alt="" class="img-circle img-thumbnail img-responsive">
    </div>
    <!--/col--> 
    <div class="col-xs-12 col-sm-8">
        <h2>John Doe</h2>
        <p>
            <strong>Score:</strong> 9001
        </p>
        <p>
            <strong>Achievements:</strong> 10 / 100 (10%)
        </p>
    </div>
    <!--/col-->          
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Recent Activity
                </h3>
            </div>
            <div class="panel-body">
                {% include trashItem.html img="/img/00000006.jpg" user="concernedcitizen51" time="10-30-2015 16:52:08" msg="Who the hell keeps leaving toilets everywhere?" later=true %}

                {% include trashItem.html img="/img/00000006.jpg" user="concernedcitizen51" time="10-30-2015 16:52:08" msg="Who the hell keeps leaving toilets everywhere?" later=true %}
            </div>
        </div>
    </div>
</div>
