<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TrashTracker</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li {% if page.url == "/feed/" %} class="active" {% endif %}>
                    <a href="/feed">Feed</a>
                </li>
                <li {% if page.url == "/profile/" %} class="active" {% endif %}>
                    <a href="/profile">Profile</a>
                </li>
            </ul>
            {% if page.url != "/login/" and page.url != "/join/" %}
            <ul class="nav navbar-nav navbar-right">
                <li {% if page.url == "/submit/" %} class="active" {% endif %}>
                    <a href="/submit" class="navbar-submit-icon-link">
                        <span class="glyphicon glyphicon-camera navbar-submit-icon"></span>
                    </a>
                </li>
            </ul>
            {%endif%}
        </div>
    </div>
</nav>
