<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TrashTracker</a>
        </div>
        <div id="navbar">
            {% if page.url != "/" and page.url != "/join/" %}{% comment %} "/login/" is now "/" {% endcomment %}
            <ul class="nav navbar-nav">
                <li {% if page.url == "/feed/" %} class="active" {% endif %}>
                    <a href="/feed">Feed</a>
                </li>
                <li {% if page.url == "/profile/" %} class="active" {% endif %}>
                    <a href="/profile">Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% if page.url == "/submit/" %} class="active" {% endif %}>
                    <p class="navbar-btn">
                        <a href="/submit" class="btn btn-default navbar-submit-icon-button">
                            <span class="glyphicon glyphicon-camera navbar-submit-icon"></span>
                        </a>
                    </p>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
                <li {% if page.url == "/" %} class="active" {% endif %}>{% comment %} "/login/" is now "/" {% endcomment %}
                    <a href="/">Login</a>
                </li>
                <li {% if page.url == "/join/" %} class="active" {% endif %}>
                    <a href="/join">Join</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
