<div class="feed-item panel panel-default">
    <img src="{{include.img}}" class="img-responsive" />
    <div class="panel-body">
        {% if include.later %}
            <div class="alert alert-info">
                This item needs to be picked up!
                <strong><a href="/submit">Pick up now!</a></strong>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user"></span>
                <a href="/profile">{{include.user}}</a>
            </div>
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-time"></span>
                <span class="small text-muted">{{include.time}}</span>
            </div>
        </div>
        <p class="small">
            {{include.msg}}
        </p>
        {% unless include.hideButtons %}
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm btn-block" href="#">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Location
                </a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-danger btn-sm btn-block" href="/report">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Report
                </a>
            </div>
        </div>
        {% endunless %}
    </div>
</div>