/*
 * Insert any additional CSS/SCSS we need.
 */

// Remove the gradient of the navbar
.navbar {
	background-color: #00B85B; 
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}

body { 
	padding-top: 70px; // Padding for the fixed navbar
    padding-bottom: 30px; // Keep buttons off the bottom of the page
}

.page-header {
	margin-top: 0; // Too big without this
}

// The camera icon
.navbar-submit-icon-button {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
.navbar-submit-icon {
	font-size: 25px;
}